
<!-- Header -->
        <header id="header" style="position: fixed; background: rgba(39, 40, 51, 0.965);">
          <h1 id="logo"><a href="{{ site.url | relative_url }}/index.html">al4ndrade</a></h1>
          <nav id="nav">
            <ul>
              <li><a href="{{ site.url | relative_url }}/blog_index.html">Blog</a></li>
              <li>
                <a href="#">Música</a>
                <ul>
                  <!-- <li><a href="left-sidebar.html">Proyectos musicales</a></li>
                  <li><a href="right-sidebar.html">Lecciones</a></li> -->
                  <li><a href="{{ site.url | relative_url }}/music_index.html">Proyectos musicales</a></li>
                  <li><a href="https://www.rockstarexperience.com.mx" target="_blank">Rockstar Experience</a></li>
                  <!-- <li>
                    <a href="#">Submenu</a>
                    <ul>
                      <li><a href="#">Option 1</a></li>
                      <li><a href="#">Option 2</a></li>
                      <li><a href="#">Option 3</a></li>
                      <li><a href="#">Option 4</a></li>
                    </ul>
                  </li> -->
                </ul>
              </li>
              <li>
                <a href="{{ site.url | relative_url }}/ciencia_index.html">Ciencia y Tecnología</a>
                <!-- <ul>
                  <li><a href="left-sidebar.html">Lecciones Python</a></li>
                  <li><a href="right-sidebar.html">Proyectos</a></li>
                  <li><a href="no-sidebar.html">Visión</a></li>
                </ul> -->
              </li>

              
            </ul>
          </nav>
        </header>