
<link rel="stylesheet" href="{{site.baseurl}}/css/blogposts.css">


<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//al4ndrade.github.io{{ page.url }}"> Comparte en Facebook<img width= 12% src="{{site.url}}/icons/facebook-icon-grey.png"></a>


<div class="fb-share-button" data-href="https://al4ndrade.github.io/2018/01/06/newspapers-dead.html" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fal4ndrade.github.io%2F2018%2F01%2F06%2Fnewspapers-dead.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>