
<link rel="stylesheet" href="{{site.baseurl}}/css/blogposts.css">

Sígueme en twitter <a href="https://www.twitter.com/al_andrade" target="_blank">@al_andrade</a><br>
<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//al4ndrade.github.io{{ page.url }}" target="_blank"> Comparte en Facebook ![]({{site.baseurl}}/icons/smallfacebook-icon-grey.png)</a>


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-via="al_andrade" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

