<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="is-preload landing">
    <!-- Facebook sdk -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0&appId=2211044989122892&autoLogAppEvents=1" nonce="O5yQxLtm"></script>
    <!-- End of Facebook sdk -->

    <div id="page-wrapper">

    {%- include header.html -%}

    {{ content }}



    {%- include footer.html -%}

    {%- include scripts.html -%}
  </div>
  </body>

</html>

