---
layout: default
---

<!-- Main -->
        <div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
              <h2>Proyectos Musicales</h2>
              <p>No es fácil describir lo que siento por estos proyectos, pero puedo decir que estoy profundamente agradecido por haber formado parte de ellos.</p>
            </header>

            
            <div class="align-center"> 
              <h2 class="">Radix</h2>
              <p>Radix fue la última banda en la que estuve, donde coincidí con mentes geniales y apasionadas. Una epoca de gran aprendizaje e infinitos momentos de felicidad y risas. Los miembros de la banda en ese momento: Alex Murueta(voz); Manuel Piñón(gtr), Al Andrade(gtr), Arth Vaquero(batería), Neto Peralta(bajo).</p>
              <p>En la grabación de estas canciones contamos con el apoyo y dirección de <a href="https://soundbetter.com/profiles/264497-pepe-ortega" target="_blank">Pepe Ortega</a>, quién en ese momento ya contaba con 2 Gramys, y hoy la cuenta de premios y menciones sigue creciendo.</p>
              <p>Sigue los links para escuchar</p>
              <ul class="alt">
                
                <li>
                	<h3>
                    	<a class="post-link" href="https://youtu.be/OV6rqPloKaw" target="_blank">
                    	Lágrimas
                    	</a>
                  	</h3>
                  	<span class="post-meta">La música y letra de esta canción me hace sentir que el tiempo se detiene. Y tal vez por la nostalgia de recordar lo que fue pertenecer a éste grupo, los ojos se me llenan de lágrimas.</span>
                  
                </li>
                <li>
                  <h3>
                    <a class="post-link" href="https://youtu.be/vF8VIh_Tmws" target="_blank">
                    Incendio
                    </a>
                  </h3>
                  <span class="post-meta">En ésta canción tuve una participación muy grande en los sintetizadores y creo que logré el poder que buscaba Manuel Piñón con esta canción. Un reto superado.</span>
                </li>
                <li>
                	<h3>
                    	
                    	<a class="post-link" href="https://youtu.be/9cBl3ORjB4c" target="_blank">
                    	Sueño
                    	</a>
                  	</h3>
                  <span class="post-meta">Otra de las genialidades de Alex Murueta en la letra.</span>
                  
                </li>
                
              </ul>
            </div>
            <hr class="redline">
            <br><br>

            <div class="align-center"> 
              <h2 class="">Insecto</h2>
              <p>Insecto fue la banda donde estuve por más tiempo. La formamos un grupo de amigos con ilusiones, metas, un poco de ingenuidad, pero definitivamente con mucha pasión, es por esto que logramos más de lo que el momento parecía permitir.
              Los miembros de la banda en ese momento: Alex Luna(voz), Al Andrade(gtr), Luis Aaron(gtr), Mario Ochoa(bajo), Emmanuel Merchand(batería)</p>
              <p>Para grabar y producir lo hicimos nosotros, aprendiendo sobre la marcha y con ayuda de Leo Peña, quien era un compañero que estudiaba conmigo la especialidad de acústica en el IPN. Leo es el fundador de <a href="https://impactorecords.mx" target="_blank">Impacto Records</a>.</p>
              <p>Sigue los links para escuchar</p>
              <ul class="alt">
                
                <li>
                	<h3>
                    	<a class="post-link" href="https://youtu.be/GC_DmgBdMAI" target="_blank">
                    	Flota
                    	</a>
                  	</h3>
                  	<span class="post-meta">Una de mis primeras composiciones bien lograda. La letra es tan metaforica que se puede interpretar de muchas maneras.</span>
                  
                </li>
                <li>
                  	<h3>
                    	<a class="post-link" href="https://youtu.be/L1VzpXPYHp4" target="_blank">
                    	Signos
                    	</a>
                  	</h3>
                  <span class="post-meta">Tal vez es la canción con más energía que tuvimos. El compositor de esta canción de música y letra fue nuestro bajista Mario Ochoa</span>
                </li>
                <li>
                	<h3>
                    	
                    	<a class="post-link" href="https://youtu.be/gFB5-q-MGE8" target="_blank">
                    	La Tormenta
                    	</a>
                  	</h3>
                  <span class="post-meta">Esta canción la compuse directamente en pentagrama, por lo que fue difícil tocarla, ya que no consideré mis habilidades. Al momento de grabarla Alex Luna, nuestro cantante tuvo que viajar a Texas por lo que yo tuve que cantarla en el estudio, algo que procuro no hacer en vivo.</span>
                  
                </li>
                
              </ul>
            </div>

            <hr class="redline">
            <br><br>

            <div class="align-center"> 
              <h2 class="">Juan Toledo</h2>
              <p>Juan Toledo es un cantautor con gran talento para las letras. Incluso he escuchado algunas de sus canciones en grupos de autoayuda o en meditaciones.</p>
              <p>Participé como productor y guitarrista en su disco "Un Corazón".
              <p>Sigue los links para escuchar</p>
              <ul class="alt">
                
                <li>
                  <h3>
                      <a class="post-link" href="https://youtu.be/RgO7bzINjM8" target="_blank">
                      Mi Niño
                      </a>
                    </h3>
                    <span class="post-meta">Esta canción fue la única a la que le hicimos video. Muy buen video y muy buena canción. </span>
                  
                </li>
                <li>
                    <h3>
                      <a class="post-link" href="https://youtu.be/3uva5lS7_uY" target="_blank">
                      Un Corazón
                      </a>
                    </h3>
                  <span class="post-meta">Mucha gente al escuchar esta canción piensa que es una canción Cristiana, sin embargo en el momento que Juan la compuso, no practicaba ninguna religión, de hecho estaba tratando de encontrar un camino espiritual alejado de cualquier creencia religiosa. Tiempo después se volvió Cristiano, y posiblemente eso a contribuido a una confusión mayor.</span>
                </li>
                
                
              </ul>
            </div>

          </div>
        </div>
