---
layout: default
---

<!-- Main -->
        <div id="main" class="wrapper style1">
          <div class="container">
            <header class="major">
              <h2>Mi Podcast</h2>
              <p>Escucha y mira los episodios en tu plataforma favorita.</p>
            </header>

            <div class="align-center">
              <ul class="actions special">
                <li><a href="https://www.youtube.com/@AlAndradePodcast" class="button primary icon brands fa-youtube" target="_blank">YouTube</a></li>
                <li><a href="https://open.spotify.com/show/13Y0bWHw7JBu7PqJ4YNBVF?si=2a4374a0abae4b19" class="button icon brands fa-spotify" target="_blank">Spotify</a></li>
              </ul>
            </div>

          </div>
        </div>
